<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="sk.nczi.covid19">

	<uses-feature
		android:name="android.hardware.camera"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.camera.autofocus"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.location.network"
		android:required="false" />
	<uses-feature
		android:name="android.hardware.location.gps"
		android:required="false" />

	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission
		android:name="android.permission.NFC"
		tools:node="remove" />

	<uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

	<application>
		<activity
			android:name=".ui.PhoneVerificationActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.FaceIdActivity"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.CovidPassVerificationActivity"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="adjustResize"
			tools:ignore="LockedOrientationActivity" />
		<activity
			android:name=".ui.PresenceCheckActivity"
			android:screenOrientation="portrait"
			tools:ignore="LockedOrientationActivity" />

		<receiver android:name=".LocalNotificationReceiver" />

		<service
			android:name=".QuarantineService"
			android:foregroundServiceType="connectedDevice|location" />
	</application>
</manifest>